<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="zh-CN"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<head>
    <title>Google -简洁入口，只为最纯净的你</title>
    <script src="/static/js/search.js"></script>
    <script src="/static/js/jquery.js"></script>
    <link rel="stylesheet" href='/static/css/style.css' />
</head>
<body>
    <a target="_blank" id="fork_me" href="https://github.com/lujinda/gog"><img src="/static/images/fork_me.png"/></a>
    <div id="search_wrap">
        <div id="search_top">
            <a href="http://tuxpy.coding.io/" target='_blank'>疯狂的小企鹅</a>
        </div>
        <form method="GET" action="/search?newwindow=1&source=hp">
        <div id="search_box">
            <input id="search_input" autocomplete="off" name='q' type="text" />
            <div id="search_topic_wrap">
            </div>
        </div>
        </form>
    </div>
</body>
<script>
    $('#search_input').focus();
    $('#search_input').bind('keyup', auto_topic);
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='position:fixed;bottom:0;left:49%' id='cnzz_stat_icon_1254410878'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1254410878%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
</script>

</html>
